[submodule "plugins/pairwise"]
	path = plugins/pairwise
	url = https://gitlab.com/noosfero-plugins/pairwise.git
[submodule "plugins/proposals_discussion"]
	path = plugins/proposals_discussion
	url = https://gitlab.com/noosfero-plugins/proposals_discussion.git
[submodule "plugins/notification"]
	path = plugins/notification
	url = https://gitlab.com/noosfero-plugins/notification.git
[submodule "plugins/gamification"]
	path = plugins/gamification
	url = https://gitlab.com/noosfero-plugins/gamification.git
[submodule "plugins/email_article"]
	path = plugins/email_article
	url = https://gitlab.com/noosfero-plugins/email_article.git
[submodule "plugins/gravatar_provider"]
	path = plugins/gravatar_provider
	url = https://gitlab.com/noosfero-plugins/gravatar-provider.git
[submodule "plugins/juventude"]
	path = plugins/juventude
	url = https://gitlab.com/noosfero-plugins/juventude.git
[submodule "plugins/dialoga"]
	path = plugins/dialoga
	url = https://gitlab.com/noosfero-plugins/dialoga-plugin.git
[submodule "plugins/serpro_captcha"]
	path = plugins/serpro_captcha
	url = https://gitlab.com/noosfero-plugins/serpro_captcha.git
[submodule "plugins/recaptcha"]
	path = plugins/recaptcha
	url = https://gitlab.com/noosfero-plugins/recaptcha.git
[submodule "plugins/insight"]
	path = plugins/insight
	url = https://gitlab.com/noosfero-plugins/insight.git
[submodule "plugins/community_hub"]
	path = plugins/community_hub
	url = https://gitlab.com/noosfero-plugins/community_hub.git
[submodule "plugins/serpro_integration"]
	path = plugins/serpro_integration
	url = https://gitlab.com/noosfero-plugins/serpro_integration.git
[submodule "public/designs/themes/conference"]
	path = public/designs/themes/conference
	url = https://gitlab.com/noosfero-themes/conference.git
[submodule "public/designs/themes/participa-site"]
	path = public/designs/themes/participa-site
	url = https://gitlab.com/noosfero-themes/participa-site.git
[submodule "public/designs/themes/presidencia"]
	path = public/designs/themes/presidencia
	url = https://gitlab.com/noosfero-themes/presidencia.git
[submodule "public/designs/themes/planejamento-serpro"]
	path = public/designs/themes/planejamento-serpro
	url = https://gitlab.com/noosfero-themes/planejamento-serpro.git
[submodule "public/designs/themes/voce-serpro"]
	path = public/designs/themes/voce-serpro
	url = https://gitlab.com/noosfero-themes/voce-serpro.git
[submodule "public/designs/themes/softwarepublico"]
	path = public/designs/themes/softwarepublico
	url = https://gitlab.com/noosfero-themes/softwarepublico.git
[submodule "public/designs/themes/mrosc-theme"]
	path = public/designs/themes/mrosc-theme
	url = https://gitlab.com/noosfero-themes/mrosc-theme.git
[submodule "public/designs/themes/colabora"]
	path = public/designs/themes/colabora
	url = https://gitlab.com/noosfero-themes/colabora.git
[submodule "public/designs/themes/inclusao-digital"]
	path = public/designs/themes/inclusao-digital
	url = https://gitlab.com/noosfero-themes/inclusao-digital.git
[submodule "public/designs/themes/participa-consulta"]
	path = public/designs/themes/participa-consulta
	url = https://gitlab.com/noosfero-themes/participa-consulta.git
[submodule "public/designs/themes/participa-theme"]
	path = public/designs/themes/participa-theme
	url = https://gitlab.com/noosfero-themes/participa-theme.git
[submodule "public/designs/themes/serpro"]
	path = public/designs/themes/serpro
	url = https://gitlab.com/noosfero-themes/serpro.git
[submodule "public/designs/themes/voce-serpro-novo"]
	path = public/designs/themes/voce-serpro-novo
	url = https://gitlab.com/noosfero-themes/voce-serpro-novo.git
[submodule "public/designs/themes/juventude"]
	path = public/designs/themes/juventude
	url = https://gitlab.com/noosfero-themes/juventude.git
[submodule "public/designs/themes/new-participa-theme"]
	path = public/designs/themes/new-participa-theme
	url = https://gitlab.com/noosfero-themes/new-participa-theme.git
[submodule "public/designs/themes/participa-event"]
	path = public/designs/themes/participa-event
	url = https://gitlab.com/noosfero-themes/participa-event.git
[submodule "public/designs/themes/participatorio-theme"]
	path = public/designs/themes/participatorio-theme
	url = https://gitlab.com/noosfero-themes/participatorio-theme.git
[submodule "public/designs/themes/sinesp"]
	path = public/designs/themes/sinesp
	url = https://gitlab.com/noosfero-themes/sinesp.git
[submodule "public/designs/themes/maranhao"]
	path = public/designs/themes/maranhao
	url = https://gitlab.com/noosfero-themes/maranhao.git
[submodule "public/designs/themes/minjustica"]
	path = public/designs/themes/minjustica
	url = https://gitlab.com/noosfero-themes/minjustica.git
[submodule "rest-clients/confjuvapp"]
	path = rest-clients/confjuvapp
	url = https://gitlab.com/noosfero-apps/confjuvapp.git
[submodule "rest-clients/proposal-app"]
	path = rest-clients/proposal-app
	url = https://gitlab.com/noosfero-apps/proposal-app.git
